# Jiran BLE Lite board configuration

# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_LINK-UP_LEFT
	bool "link-up_left"
	depends on SOC_NRF52840_QIAA

config BOARD_LINK-UP_RIGHT
	bool "link-up_right"
	depends on SOC_NRF52840_QIAA

config BOARD_LINK-UP_MID
	bool "link-up_mid"
	depends on SOC_NRF52840_QIAA
