/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#define BACK C_AC_BACK
#define FWD C_AC_FORWARD
#define ZM_IN  LC(EQUAL)
#define ZM_OUT LC(MINUS)
#define APPS   LG(TAB)

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// ----------------------------------------------------------------------------------
// | ESC |  ~  |  -  |  =  |     | 
// | TAB |  [  |  ]  |  \  |     | 
// | RET | BAK | FWD |     |  '  | 
// | DEL | HOME|  ^  | END | PGUP| 
// | BKSP| <   |  v  |  >  | PGDN|
                        bindings = <
&kp ESC  &kp TILDE &kp MINUS &kp EQUAL &kp ZM_OUT 
&kp TAB  &kp LBKT  &kp RBKT  &kp BSLH  &kp ZM_IN
&kp RET  &kp BACK  &kp FWD   &kp APPS  &kp SQT   
&kp DEL  &kp HOME  &kp UP    &kp END   &kp PG_UP   
&kp BSPC &kp LEFT  &kp DOWN  &kp RIGHT &kp PG_DN
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
                       bindings = <
&kp F1 &kp F2   &kp F3   &kp F4    &kp F5
&kp F1 &kp F2   &kp F3   &kp F4    &kp F5
&kp F1 &kp F2   &kp F3   &kp F4    &kp F5
&kp F1 &kp F2   &kp F3   &kp F4    &kp F5
&kp F1 &kp F2   &kp F3   &kp F4    &kp F5
                       >;
               };
        };
};
