/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "link-up.dtsi"

&kscan0 {
	compatible = "zmk,kscan-gpio-direct";
	label = "KSCAN";
    input-gpios
        = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 00 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 07 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 30 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

        , <&gpio1 04 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 22 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 05 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

        , <&gpio1 02 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 04 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 28 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

        , <&gpio1 01 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 09 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 02 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

        , <&gpio1 03 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio0 03 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
        , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
};
